.add-shop {
  position: relative;
  width: 100vw;
  min-height: 110vh;
  background-color: #806d5b;
  padding: 1rem;
  box-sizing: border-box;
  background-image: url("./images/coffee_background.png");
  background-size: cover;
  background-position: center;
}

.add-shop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.add-shop > * {
  position: relative;
  z-index: 2;
}

.add-shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.add-shop-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  gap: 1rem;
}

.add-shop-container .add-shop-input-text {
  max-width: 30rem;
  margin-bottom: 1rem;
}

.add-shop-container .active-button {
  background-color: var(--espresso-brown);
  color: #fff;
  padding: 0.75rem 1rem; /* Add padding for better touch targets */
  border-radius: 0.5rem; /* Slightly rounded corners for a modern look */
  width: 100%; /* Button spans the full width on mobile */
  /* max-width: 12rem; Limit width to look balanced */
}

.add-shop-container .beverage-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Default to 2 columns for mobile */
  gap: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.beverage-grid label {
  display: flex;
  align-items: center; /* Center-align checkbox and label text */
  gap: 0.5rem;
  font-size: 1rem; /* Ensure readability on smaller screens */
  width: auto;
}

.beverage-grid input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}

.add-shop-container .roast-style {
  width: 100%; /* Full-width on mobile */
  /* max-width: 30rem; */
  /* margin-bottom: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-shop-container .roast-style select {
  /* width: 100%; */
  /* max-width: 12rem;  */
  padding: 0.5rem; /* Improve touch target size */
}

.add-shop-container .y-n-box {
  display: flex;
  flex-direction: column;
  width: 100%; /* Full-width on mobile */
  align-items: center;
}

.add-shop-container button {
  background-color: var(--white);
  color: var(--espresso-brown);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .add-shop-form {
    margin-left: 0; /* Center-align form on smaller screens */
  }

  .add-shop-container .beverage-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
    margin-bottom: 1.5rem;
  }

  .add-shop-container .y-n-box {
    flex-direction: column;
    /* flex-direction: row; */

    align-items: center;
  }
}
