.add-shop {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-shop-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  padding: 2rem;
}

.add-shop-container h3 {
  text-align: center;
}

.add-shop-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  gap: 1rem;
}

.add-shop-container .add-shop-input-text {
  width: 20rem;
  margin-bottom: 1rem;
}

.add-shop-container .active-button {
  background-color: var(--espresso-brown);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  width: 20rem;
}

.add-shop-container .beverage-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 20rem;
  margin-bottom: 1.5rem;
}

.beverage-grid label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  width: auto;
}

.beverage-grid input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}

.add-shop-container .roast-style {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-shop-container .roast-style select {
  padding: 0.5rem;
}

.add-shop-container .y-n-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.add-shop-container button {
  background-color: var(--latte-brown);
  color: var(--white);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 20rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .add-shop-form {
    margin-left: 0;
  }

  .add-shop-container .beverage-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1.5rem;
  }

  .add-shop-container .y-n-box {
    flex-direction: column;

    align-items: center;
  }
}
