:root {
  --latte-brown: #806d5b;
  --espresso-brown: #4f3e31;
  --white: #ffffff;
  --light-grey: #bdb6b6;
  --grey: #928c8c;
  --dark-grey: #28292b;
  --black: #000000;
  --red: #ff5b57;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
